<!DOCTYPE html>
<!-- this is to test -->
<meta charset="UTF-8">

  <!--[if lt IE 9]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js" ></script>
<script type="text/javascript">
    //	setup_graph_data(data_url);
    $(document).ready(function(){
        setup_graph_data("../assets/data/stat1.tsv")  //has the div on ready. as soon as the page loads.
        $(document).on("change", "#dd", function(e){
            var url = $(e.currentTarget).val();

            // function setup_graph_data(url){
            //       		$("#output").html(url)

            // };
            $("#box-bar-plot").html('') //empties the div
            setup_graph_data(url); //works
        })
    });

    /*	function run_a_function(url){
     $("#output").html(url);
     };*/
</script>

<!--script src="../assets/application-ef96501f028dba65c10a08512d37267546d1a1c3c78159b1f1e139aa66b7b98d.js" data-turbolinks-track="true"></script>-->

<!--script src="../assets/require.js" data-turbolinks-track="true"></script-->

<!-- <script src="../assets/line_graph/lib/index.js" data-turbolinks-track="true"></script>

<script src="../assets/box_bar_graph/graph_renderer.js" data-turbolinks-track="true"></script>
 -->

<!--<script src="../assets/line_graph/lib/index.js" data-turbolinks-track="true"></script>-->

<!-- <script src="../assets/line_graph/line.js" data-turbolinks-track="true"></script>
 -->
<!--<link type="text/css" rel="stylesheet" href="https://cdn.rawgit.com/ArianeMora/biojs-vis-box-plot/master/css/biojs-vis-box-plot.css">-->
<!-- <link type="text/css" rel="stylesheet" href= "https://cdn.rawgit.com/ArianeMora/biojs-vis-box-plot/844b0be2/biojs/css/biojs-vis-box-plot.css">
 -->

<script type="text/JavaScript" src="/Users/kaimakle/Documents/Ph.D./node_web_server_simpler_biojs/node_web_server/server/HTTPServer.js"></script>

</head><body class="html not-front not-logged-in page-node page-node- page-node-14151 node-type-elife-article-ver context-content">

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.6.3/d3-tip.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		
<script src="../assets/box_bar_graph/graph_renderer.js" data-turbolinks-track="true"></script>
        <script language="JavaScript" type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

         <!--    <div id="box-bar">

            </div>

            <script type="text/javascript">
            	//var data_url = "../assets/data/stat1.tsv";

				//setup_graph_data(data_url);

             //   setup_graph_data("../assets/data/stat1.tsv");

            </script>--> 
<!-- <hr/>
<div id="output">
</div> -->

<select id="dd">
    <option value="../assets/data/stat1.tsv">Stat1.tsv</option>
    <option value="../assets/data/ds_id_5003_scatter_gata3.tsv">Scatter_gata3.tsv</option>
</select>
<!--    <div id="snippetDiv">
 -->

<div id="box-bar-plot"></div>
        





<!--  </div>
 -->
<div style="width:100%; height: 90px; background-color: white;">
  <div style="width: 100%; float:left; margin: 1%; background-color: white;"></div>
 </div>

<style>
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointertat1.tsv
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 20px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}

</style>

<h2>Select the data you would like to display in the Interactive Figure</h2>
<p>Click on the button to open the dropdown menu.</p>

<div class="dropdown">
<!--<button onclick="myFunction()" class="dropbtn">Dropdown</button>-->
<select name="select" id="myDropdown" class="dropdown-content">
<option value = "../assets/data/stat1.tsv" > Data 1 stat1.tsv</option>
<option value = "../assets/data/ds_id_5003_scatter_gata3.tsv" > Data 2 ds_id_scatter.tsv</option>
  </select></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js" ></script>
<script type="text/javascript" src="../assets/select_the_data.js"></script>

<!-- how to add padding in an html page
 -->
<div style="width:100%; height: 100px; background-color: white;">
  <div style="width: 100%; float:left; margin: 1%; background-color: white;"></div>
</div>
<!-- padding to an html page added - done -->


<script>

<input type="file" id="txtfile" size="40">Upload a txt file</input><br /><br />
<button id="send">Send file to server</button><br /><br />
<textarea id="response" rows="1" cols="50"></textarea><br />

 

<script>

//the uploaded file should be read and sent to the server once the 'send' button is clicked
	document.getElementById('send').addEventListener('click', function(evt){
	    //we need a file reader object to read the content of an uploaded file
	    var fr = new FileReader();

	    //once the file is read the onload function will be executed
	    fr.onload = function(e) {
	        // e.target.result should contain the text of the uploaded file

	        //now we want to send that data to the server to save it
	        //therefore we need an XMLHttpRequest object
	        var request = new XMLHttpRequest();
	        //the following function defines what happens when we recieve an answer or error
	        //after sending the request
	        request.onreadystatechange = function(){
	          if (request.readyState == 4 && request.status == 200) {
	            document.getElementById("response").innerHTML = request.responseText;
	          }
	        }
	        //open a new POST request
	        request.open('POST', 'uploads', true);
	        //set appropriate header to send JSON data
	        request.setRequestHeader("Content-type", "application/json");
	        //send stringified JSON data (the content of the uploaded file)
	        request.send(JSON.stringify({ content: e.target.result}));
	    };

	    //read the file as text
	    var txtfile = document.getElementById('txtfile');
	    //but only if there is a file in the file upload
	    if(txtfile.files[0]){
	      fr.readAsText(txtfile.files[0]);
	    }
	  });


</script>
  <div style="width: 100%; float:left; margin: 1%; background-color: white;"></div>


<form action="http://www.wheat-expression.com/">
<input type="submit" value="Go to expVIP">
</form>

<div style="width:50%; height: 50px; background-color: white;">
  <div style="width: 50%; float:left; margin: 1%; background-color: white;"></div>
</div>


<style>

.fsSubmitbutton {
   background-color: #4CAF50; /* Green */
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
}

</style>


<form action="download" method="get">
<input type="submit" value="Download the Data of the Figure">
</form>


<div style="width:50%; height: 50px; background-color: white;">
  <div style="width: 50%; float:left; margin: 1%; background-color: white;"></div>
</div>


<form action="data" method="get">
    <input type="submit" value="Go to my drop down menu" 
         name="Submit" id="frm1_submit" />
</form>


<div style="width:100%; height: 40px; background-color: white;">
  <div style="width: 40%; float:left; margin: 1%; background-color: white;"></div>
</div>

<form action="metadata" method="get">
    <input type="submit" value="Define your metadata" 
         name="Submit" id="frm3_submit" />
</form>


<div style="width:100%; height: 40px; background-color: white;">
  <div style="width: 40%; float:left; margin: 1%; background-color: white;"></div>
</div>

<!-- this with the press of the button links to another htlm page of the clickform.html-->
<form action="clickform" method="get">
    <input type="submit" value="Go to click form"
         name="Submit drop down menu" id="clickform1" />
</form>


<div style="width:100%; height: 40px; background-color: white;">
  <div style="width: 40%; float:left; margin: 1%; background-color: white;"></div>
</div>

<!-- new web form for data submission with writing to a text file-->
<!--<form action="web_form" method="get">
    <input type="submit" value="submit your information WEB FORM" 
         name="Submit" id="frm1_submit" />
</form>
!-->
<!-- this form works to echo the message to the browser. I want to capture the entries to the form to be writing to the server-->


<!-- this works to invoke the writeToFile and writes Hey there in the test file-->
<form action="writeToFile" method="get">
    <textarea name="text">testing_writing_to_a_file</textarea>
    <input type="submit" value="testing_writing" 
         name="Submit" />

</form>

</body></html>
